body {
    background-color: rgba(214, 196, 172, 0.664);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.espacio1 {
    border: 2px solid rgb(247, 188, 188);
    border-radius: 15px;
    background-color: rgba(185, 228, 230, 0.753);
}