body {
    background-color: rgba(214, 196, 172, 0.664);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.espacio1 {
    border: 2px solid rgb(5, 1, 1);
    border-radius: 15px;
    background-color: rgba(185, 228, 230, 0.753);
}

.espacio2 {
    background-color: darkgrey;
    border-bottom: 2px rgb(12, 12, 12) dotted;
}