* {
    padding: 0;
    margin: 0;
    font-family: Stint Ultra Condensed;
    font-size: 14px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.contenedorlogo {
    margin-left: 33%;
    margin-right: auto;
}

.logo {
    width: 50%;
    z-index: 9999999999;
}

.logo:hover {
    transform: scale(1.17);
    transition-duration: 5s;
}

.contenedormain {
    width: 80%;
    margin: 0 auto;
    background: white;
}

.cabecera {
    background: linear-gradient(90deg, #020024, #1d1db4, #100c73);
}

.barranav {
    background: linear-gradient(90deg, rgb(97, 5, 5), rgb(204, 59, 59));
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    align-content: center;
    width: 100%;
}

.itemmenu {
    align-self: center;
}

.botonresponsive {
    background: linear-gradient(90deg, rgb(97, 5, 5), rgb(204, 59, 59));
}

.barranav a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    display: block;
    text-align: center;
    font-size: 17px;
}

.cuerpo {
    background: linear-gradient(90deg, #4d46b1, #37378c, #3f39b4);
    /* background: linear-gradient(90deg, #4d5bd7, rgb(24, 6, 104));*/
    color: rgb(0, 0, 0);
    max-width: 1320px;
}

.slider {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Stint Ultra Condensed;
}

p {
    font-family: Nanum Myeongjo;
    font-size: 16px;
}

strong {
    font-family: Nanum Myeongjo;
    font-size: 16px;
}

span {
    font-family: Nanum Myeongjo;
    font-size: 16px;
}

.pie {
    background: linear-gradient(90deg, #040c52, black);
}

.columnasfooter {
    justify-content: space-around;
}

.footerlogo {
    width: 40%;
    margin-left: 29%;
}

.footerredes {
    width: 50%;
}

.footerredes:hover {
    transform: scale(1.20);
    transition-duration: 1s;
}

.pie span {
    color: white;
}

.pie p {
    color: white;
    font-size: 1.2em;
}

.columna {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.7em;
}


/* CONTACTO */

.formulario {
    width: 40%;
    background: linear-gradient(90deg, rgb(97, 5, 5), rgb(204, 59, 59));
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    padding-top: 2px;
    margin: 0 auto;
}

.formulario input {
    width: 100%;
    border-radius: 5px;
}

.formulario textarea {
    width: 100%;
}

.formulario button {
    width: 30%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.formulario button:hover {
    background: rgb(197, 192, 192);
}


/*Media Queris SM*/

@media screen and (max-width:560px) {
    .footerlogo {
        display: none;
    }
    .formulario {
        width: 100%;
        background: linear-gradient(90deg, #4d46b1, #37378c, #3f39b4);
        /*background: linear-gradient(90deg, #4d5bd7, rgb(24, 6, 104));*/
        border-radius: 0;
    }
    span {
        font-size: 12px;
    }
    .contenedormain {
        width: 100%;
    }
}